.form-container{
    border: 2px solid black;
    height: fit-content;
    width: 350px;
    margin: 30px auto;
    padding: 20px 20px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5.0px 10.1px 10.1px hsl(0deg 0% 0% / 0.34); 
}

.login-page-h2{
    text-align: center;
    margin: 10px auto;
}

.labels{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    position: relative;
}

.inputs{
    height: 35px;
    width: 325px;
    border: 2px solid black;
    margin-top: 10px;
}

.inputs__button-icons{
    position: absolute;
    bottom: 3px;
    right: 35px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.inputs__password-icons{
    height: 22px;
    width: 25px;
}

.btns-sign-ins{
    font-size: 14px;
    background-color: black;
    border: 1px solid white;
    color: white;
    height: 40px;
    width: 330px;
    margin-bottom: 10px;
    cursor: pointer;

    transition-duration: 400ms;
}

.btns-sign-ins:hover{
    transform: scale(1.02);
    background-color: white;
    border: 1px solid black;
    color: black;
}

.link-signup{
    text-decoration: none;
}

.post-login {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

    .post-login__btn {
        font-size: 16px;
        background-color: black;
        border: 2px solid white;
        color: white;
        padding: 0.5rem;
        align-self: center;
        margin: 20px;
        height: 3rem;
        width: 200px;
        cursor: pointer;
        transition-duration: 400ms;
    }

    .post-login__btn:hover {
        transform: scale(1.02);
        background-color: white;
        border: 1px solid black;
        color: black;
    }
}