.product-listing-main-div {
    display: flex;
    width: 100vw;
}

.all-products {
    border: 2px solid white;
}

.product-cards-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.product-card-li {
    background-color: white;
    width: 330px;
    margin: 1rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card-span {
    font-size: 20px;
    font-weight: 700;
}

.product-img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    margin: 0 0 0.5rem 0;
}