.main-container {
    border: 2px solid black;
    width: 350px;
    margin: 30px auto;
    padding: 20px 20px 20px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 5.0px 10.1px 10.1px hsl(0deg 0% 0% / 0.34);
}

.signup-h2 {
    text-align: center;
    margin: 10px auto;
}

.labels { 
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    position: relative;
}

.inputs {
    height: 35px;
    width: 320px;
    border: 2px solid black;
    margin-top: 10px;
}

.inputs__name{
    width: 150px !important;
}

.input-name-container{
    width: 330px;
    display: flex;
    justify-content: space-between;
}

.btn-new-acc {
    font-size: 14px;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 0.5rem;
    height: 40px;
    width: 330px;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 400ms;
}

.btn-new-acc:hover {
    transform: scale(1.02);
    background-color: white;
    border: 1px solid black;
    color: black;
}

.link-login {
    text-decoration: none;
}